<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website Homepage</title>

  </head>
  <body>
    {{> header}}
    {{!-- we use {{> header}} handlebars for pageTitle to pass in info from server.js via the header.hbs partial file--}}

    {{!-- <p>{{welcomeMsg}}</p> --}}
    {{!-- we use welcomeMsg to pass in info from server.js --}}

    <p>{{screamIt welcomeMsg}}</p>
    {{!-- we use our helper scremIt to show our welcomeMsg in uppercase from server.js --}}

    <p>This is part of the Node.js Udemy class with Andrew Mead.</p>

    {{> footer}}
    {{!-- we use {{> footer}} handlebars for footer to pass in info from server.js via the footer.hbs partial file--}}
  </body>

</html>
